@import url("https://fonts.googleapis.com/css?family=Carter+One");
body, * {
  margin: 0;
  padding: 0; }

h1, h2 {
  font-family: 'Carter One', cursive;
  text-transform: uppercase; }

#main {
  display: flex;
  flex-flow: column wrap; }

.intro {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin-bottom: 0; }

.intro_img {
  background: url("/images/intro_img.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover; }

.intro_title {
  position: relative;
  left: 60vw;
  top: 5vh;
  border-radius: 50%;
  width: 30%;
  height: auto;
  padding-top: 15%;
  background: white;
  box-shadow: -10px 15px 45px 15px #777;
  background-color: #fff;
  display: flex;
  justify-content: center;
  color: black;
  mix-blend-mode: multiply;
  background-color: black; }

.title {
  position: relative;
  top: -13vh;
  transform: skewY(-12deg); }

.title h1 {
  font-size: 7.25vw;
  line-height: 95%;
  color: white;
  mix-blend-mode: screen;
  background-color: black;
  border: 5px solid black; }

.man {
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
  margin-top: -1px; }

.man_img {
  height: 100%;
  width: 45%;
  background: url("/images/theman3.jpg");
  background-size: cover;
  background-repeat: repeat;
  background-position: 50%;
  background-attachment: fixed; }

.man_img h2 {
  position: relative;
  text-align: center;
  padding-top: 25vh;
  height: 100%;
  font-size: 20vw;
  line-height: 28vh;
  color: white;
  mix-blend-mode: multiply;
  background-color: black; }

.man_img span::before {
  content: ' ';
  clear: right;
  display: block; }

.man_info {
  height: 100%;
  width: 55%;
  background-color: black; }

.machine {
  height: 100vh;
  background: url("/images/machine.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 65%;
  display: flex;
  flex-flow: row wrap;
  position: relative; }

.machine_facts {
  position: absolute;
  left: -25vw;
  height: 100%;
  width: 70vw;
  transform: skewX(-15deg);
  background-color: orange;
  opacity: .85; }

.machine_title {
  position: relative;
  left: 45%;
  top: 5vh;
  font-size: 7.5vw;
  line-height: 33vh;
  transform: skewX(-15deg);
  color: orange;
  opacity: .85; }

.the_demon {
  height: 100vh;
  display: flex;
  flex-flow: column; }

.demon_top {
  height: 25%;
  background: url("/images/demon.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 35%;
  background-attachment: fixed; }

.demon_top h2 {
  height: 100%;
  position: relative;
  text-align: center;
  font-size: 8.75vw;
  color: white;
  mix-blend-mode: multiply;
  background-color: black; }

.demon_bottom {
  height: 75%;
  background: url("/images/demon_bottom.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 45%; }

@media screen and (max-width: 992px) {
  .title {
    top: -10.5vh; }

  .man_img, .man_info {
    width: 100%; }

  .man_img {
    height: 30%;
    background: url("/images/theMan.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 15% 15%;
    background-attachment: fixed; }

  .man_info {
    height: 70%; }

  .man h2 {
    padding-top: 5vh;
    height: 100%;
    line-height: 20vh; }

  .man_img span::before {
    display: inline-block; } }

/*# sourceMappingURL=styles.css.map */
