// GLOBAL STYLES //
body, * {
  margin: 0;
  padding: 0;
}
@import url('https://fonts.googleapis.com/css?family=Carter+One');

// MAIN STYLES //
#main {
  display: flex;
  flex-flow: column wrap;
}

// INTRO STYLES //
.intro {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.intro_img {
  background: url('/images/intro_img.jpg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}
.intro_title {
    position: relative;
    left: 60vw;
    top: 5vh;
    border-radius: 50%;
    width: 30%;
    height: auto;
    padding-top: 15%;
    background: white;
    box-shadow: -10px 15px 45px 15px #777;
    background-color: #fff;
    display: flex;
    justify-content: center;
    color: black;
    mix-blend-mode: multiply;
    background-color: black;
}
.title {
  position: relative;
  top: -15.5vh;
  transform: skewY(-12deg);
}
.title h1 {
  font-size: 7.25vw;
  font-family: 'Carter One', cursive;
  text-transform: uppercase;
  line-height: 95%;
  color: white;
  mix-blend-mode: screen;
  background-color: black;
  border: 5px solid black;
}

// MAN STYLES //
.man {
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
}
// .man:
.man_img {
  flex-grow: 2;
  display: flex;
  height: 100%;
  width: 50%;
  background: url('/images/theman3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 60% 45%;
}
.man_img:after {
  content: "";
    position: absolute;
    top: 100vh;
    height: 100%;
    opacity: .9;
    width: 50%;
    color: black;
    mix-blend-mode: screen;
    background-color: black;
}

.man_info {
  height: 100%;
  width: 40%;
  background-color: black;
}
.man h2 {
  position: relative;
  padding-top: 12%;
  padding-bottom: 15%;
  height: auto;
  width: 100%;
  text-align: center;
  font-size: 17em;
  line-height: 33vh;
  font-family: 'Carter One', cursive;
  text-transform: uppercase;
  color: white;
  mix-blend-mode: multiply;
  background-color: black;
  overflow: hidden;
}


// MACHINE STYLES //
.machine {
  height: 100vh;
  background: url('/images/machine.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 65%;
  display: flex;
  flex-flow: row wrap;
  position: relative;
}
.machine_facts {
  position: absolute;
  left: -25vw;
  height: 100%;
  width: 70vw;
  transform: skewX(-15deg);
  background-color: orange;
  opacity: .85;
}
.machine_title {
  position: relative;
  left: 50%;
  top: 5vh;
  font-size: 6rem;
  line-height: 33vh;
  font-family: 'Carter One', cursive;
  text-transform: uppercase;
  transform: skewX(-15deg);
  color: orange;
  opacity: .85;
}

// THE DEMON STYLES //
.the_demon{
  height: 100vh;
  display: flex;
  flex-flow: column;
}
.demon_top {
  height: 20%;
  background: url('/images/demon.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 55%;
}
.demon_top:after {
  content: "";
  position: absolute;
  height: 20vh;
  width: 100%;
  background-color: #000;
  opacity: .9;
}
.demon_bottom {
  height: 80%;
  background: url('/images/demon_bottom.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
.demon_bottom:after {
  content: "";
  position: absolute;
  height: 80vh;
  width: 100%;
  background-color: orange;
  opacity: .45;
}

// LINKS STYLES //



// MEDIA QUERIES //
@media screen and (max-width: 992px) {
// INTRO STLYES //
.title {
  top: -10.5vh;
}

  // MAN STYLES //
  .man_img, .man_info {
    width: 100%;
  }
  .man_img {
    height: 40%;
    background: url('/images/theMan.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 15% 15%;
  }
  .man_info {
    height: 60%;
  }
}




























// OLD NON-RESPONIVE STYLES //

// // Intro styles //
// .intro_wrap {
//   height: 100vh;
// }
// .intro_img {
//   height: 100%;
//   width: 100%;
//   background: url('/images/intro_img.jpg');
//   background-repeat: no-repeat;
//   background-position: left bottom;
//   background-size: cover;
// }
// .intro_info {
//   position: relative;
//   top: 5vh;
//   left: 60vw;
//   border-radius: 50%;
//   width: 32%;
//   height: auto;
//   padding-top: 32%;
//   background: white;
//   box-shadow: -10px 15px 45px 15px #242424;
//   background-color: #fff;
// }
//
//
// // The Man Styles //
// .theMan_wrap {
//   background-color: #000;
//   height: 100vh;
//   opacity: .90;
//   display: flex;
//   flex-direction: row;
// }
// .theMan_img {
//   height: 100%;
//   width: 45%;
//   background: url('/images/yeager.jpg');
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-position: bottom;
// }
// .overlay:after {
//   content: "";
//   position: absolute;
//   height: 100%;
//   background-color: #000;
//   opacity: .95;
//   width: 45%;
// }
// .theMan_img h2 {
//   position: absolute;
// }
//
// // The Machine Styles //
// .theMachine {
//   height: 100vh;
//   background: url('/images/machine.jpg');
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-position: 50% 75%;
// }
//
//
//
// // The Barrier Styles //
// .theBarrier {
//   height: 100vh;
//   display: flex;
//   flex-direction: row;
// }
// .theBarrier_info {
//   height: 100%;
//   width: 40%;
//   background-color: teal;
// }
// .theBarrier_img {
//   display: flex;
//   flex-direction: column-reverse;
//   height: 100%;
//   width: 60%;
//   background: url('/images/barrier.jpeg')
// }
// .quote {
//   height: 50%;
//   width: 100%;
//   background-color: #fff;
// }
