// GLOBAL STYLES //
body, * {
  margin: 0;
  padding: 0;
}
h1, h2 {
  font-family: 'Carter One', cursive;
  text-transform: uppercase;
}
@import url('https://fonts.googleapis.com/css?family=Carter+One');

// MAIN STYLES //
#main {
  display: flex;
  flex-flow: column wrap;
}

// INTRO STYLES //
.intro {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}
.intro_img {
  background: url('/images/intro_img.jpg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}
.intro_title {
    position: relative;
    left: 60vw;
    top: 5vh;
    border-radius: 50%;
    width: 30%;
    height: auto;
    padding-top: 15%;
    background: white;
    box-shadow: -10px 15px 45px 15px #777;
    background-color: #fff;
    display: flex;
    justify-content: center;
    color: black;
    mix-blend-mode: multiply;
    background-color: black;
}
.title {
  position: relative;
  top: -13vh;
  transform: skewY(-12deg);
}
.title h1 {
  font-size: 7.25vw;
  line-height: 95%;
  color: white;
  mix-blend-mode: screen;
  background-color: black;
  border: 5px solid black;
}

// MAN STYLES //
.man {
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
  margin-top: -1px;
}
.man_img {
  height: 100%;
  width: 45%;
  background: url('/images/theman3.jpg');
  background-size: cover;
  background-repeat: repeat;
  background-position: 50%;
  background-attachment: fixed;
}
.man_img h2 {
  position: relative;
  text-align: center;
  padding-top: 25vh;
  height: 100%;
  font-size: 20vw;
  line-height: 28vh;
  color: white;
  mix-blend-mode: multiply;
  background-color: black;

}
.man_img span::before {
    content: ' ';
    clear: right;
    display: block;
}
.man_info {
  height: 100%;
  width: 55%;
  background-color: black;
}

// MACHINE STYLES //
.machine {
  height: 100vh;
  background: url('/images/machine.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 65%;
  display: flex;
  flex-flow: row wrap;
  position: relative;
}
.machine_facts {
  position: absolute;
  left: -25vw;
  height: 100%;
  width: 70vw;
  transform: skewX(-15deg);
  opacity: .85;
  mix-blend-mode: multiply;
  background-color: orange;
}
.machine_title {
  position: relative;
  left: 45%;
  top: 5vh;
  font-size: 7.5vw;
  line-height: 33vh;
  transform: skewX(-15deg);
  color: orange;
  mix-blend-mode: multiply;
  opacity: .85;
}

// THE DEMON STYLES //
.the_demon{
  height: 100vh;
  display: flex;
  flex-flow: column;
}
.demon_top {
  height: 20%;
  background: url('/images/demon.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 35%;
  background-attachment: fixed;
}
.demon_top h2 {
  position: relative;
  // padding-top: 2.5vh;
  height: 100%;
  font-size: 8vw;
  line-height: 20vh;
  text-align: center;
  height: 100%;
  color: white;
  mix-blend-mode: multiply;
  background-color: black;
}
.demon_bottom {
  height: 80%;
  background: url('/images/demon_bottom.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 65%;
}


// LINKS STYLES //
.links {
  height: 95vh;
  background: url('/images/links.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.links h2 {
  position: relative;
  top: 5vh;
  text-align: center;
  font-size: 4vw;
  border: 6px solid black;
  margin: 0vh 30vw;
}

// FOOTER STYLES //
footer {
  height: 5vh;
  background-color: black;
  margin-top: -.05vh;
  text-align: center;
  color: white;
  opacity: .95;
  letter-spacing: .15vw;
  line-height: 4.5vh;
}
.clover {
  color: lightgreen;
}
.heart {
  color: tomato;
}



// TABLET MEDIA QUERIES //
@media screen and (max-width: 992px) {
// INTRO STLYES //
.title {
  top: -9.75vh;
}

  // MAN STYLES //
  .man_img, .man_info {
    width: 100%;
  }
  .man_img {
    height: 30%;
    background: url('/images/theMan.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 15% 15%;
    background-attachment: fixed;
  }
  .man_info {
    height: 70%;
  }
  .man h2 {
    padding-top: 5vh;
    height: 100%;
    line-height: 20vh;
  }
  .man_img span::before {
      display: inline-block;
  }
}

// PHONE MEDIA QUERIES //
@media screen and (max-width: 425px) {
// INTRO STYLES //
.intro_title {
  left: 45vw;
  width: 50%;
  padding-top: 25%;
}
.title {
  top: -8.75vh;

}
.title h1 {
  font-size: 12vw;
}

  // MACHINE STYLES //
  .machine_title {
    position: relative;
    top: -10vh;
    left: -10vw;
    font-size: 10.5vw;
    color: black;
    mix-blend-mode: multiply;
  }
  .machine_facts {
    width: 90vw;
  }

  // LINKS STYLES //
  .links h2 {
    font-size: 8vw;
    margin: 0vh 10vw;
  }
}
